body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    font-size: 26px;
    margin-top: 2px;
    margin-bottom: 2px;
    color: #0a0aad;
}
img{
    width: 350px; border-radius: 50%; margin: 50px auto; display: block;
}
span{
    font-weight: normal;
    color: black;
    font-size: 22px;
    margin-top: 2px;
    margin-bottom: 2px;
}
p{
    font-weight: normal;
    color: black;
    font-size: 22px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.product-card{
    width: 500px;
    font-size: 26px;
    color: #0a0aad;
    background: cornflowerblue;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 5px;
}
.product-title{
    font-size: 26px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.product-image{
    width: 400px; border-radius: 50%; display: block;
    margin-bottom: 20px;
}